Module/PSPublishModule.Tests.ps1 text eol=crlf
Module/PSPublishModule.psd1 -text whitespace=cr-at-eol
Module/PSPublishModule.psm1 -text whitespace=cr-at-eol
Module/Docs/Import-BenchmarkResult.md -text whitespace=cr-at-eol
Module/Docs/Readme.md -text whitespace=cr-at-eol
Module/Docs/Build-PowerShellArtifact.md -text whitespace=cr-at-eol
Module/Docs/Invoke-ModuleBuild.md -text whitespace=cr-at-eol
Module/Docs/Invoke-PowerForgeRelease.md -text whitespace=cr-at-eol
Module/Docs/New-ConfigurationDotNetTarget.md -text whitespace=cr-at-eol
Module/Docs/New-ConfigurationDotNetSign.md -text whitespace=cr-at-eol
Module/Docs/New-AppleAppArchive.md -text whitespace=cr-at-eol
Module/Docs/New-ConfigurationAppleApp.md -text whitespace=cr-at-eol
Module/Docs/New-ConfigurationBuild.md -text whitespace=cr-at-eol
Module/Docs/Sync-AppStoreConnectScreenshots.md -text whitespace=cr-at-eol
Module/Docs/Test-AppStoreConnectScreenshotSyncConfig.md -text whitespace=cr-at-eol
Module/Docs/Update-BenchmarkEvidenceCatalog.md -text whitespace=cr-at-eol
Module/en-US/PSPublishModule-help.xml -text whitespace=cr-at-eol
