<header class="pf-header">
  <div class="pf-container pf-header-inner">
    <a class="pf-brand" href="/">{{ site.name }}</a>
    <nav class="pf-nav">
      {{ if navigation.menus && navigation.menus.size > 0 }}
        {{ for link in navigation.menus[0].items }}
          <a href="{{ link.url }}" class="{{ if link.is_active }}is-active{{ end }}{{ if link.is_ancestor }} is-ancestor{{ end }}">{{ link.title }}</a>
        {{ end }}
      {{ else if data.navigation && data.navigation.header }}
        {{ for link in data.navigation.header }}
          <a href="{{ link.link }}">{{ link.title }}</a>
        {{ end }}
      {{ end }}
    </nav>
    <div class="pf-actions">
      {{ if navigation.actions && navigation.actions.size > 0 }}
        {{ for action in navigation.actions }}
          {{ if action.kind && action.kind == "button" }}
            <button type="button"{{ if action.css_class }} class="{{ action.css_class }}"{{ end }}>{{ if action.icon_html }}{{ action.icon_html }}{{ end }}{{ if action.text }} {{ action.text }}{{ else }} {{ action.title }}{{ end }}</button>
          {{ else }}
            <a href="{{ action.url }}"{{ if action.css_class }} class="{{ action.css_class }}"{{ end }}>{{ if action.icon_html }}{{ action.icon_html }}{{ end }}{{ if action.text }} {{ action.text }}{{ else }} {{ action.title }}{{ end }}</a>
          {{ end }}
        {{ end }}
      {{ else if data.navigation && data.navigation.actions }}
        {{ for action in data.navigation.actions }}
          <a href="{{ action.link }}" class="{{ action.class }}">{{ action.title }}</a>
        {{ end }}
      {{ else }}
        <a class="pf-button" href="/docs/">Get Started</a>
      {{ end }}
    </div>
  </div>
</header>
