<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>{{TARGET_FRAMEWORK}}</TargetFramework>
    <AssemblyName>{{ARTIFACT_NAME}}</AssemblyName>
    <RootNamespace>PowerForge.Compiled</RootNamespace>
    <LangVersion>latest</LangVersion>
    <Nullable>enable</Nullable>
    <ImplicitUsings>enable</ImplicitUsings>
    <Deterministic>true</Deterministic>
  </PropertyGroup>
  <ItemGroup>
    {{POWERSHELL_REFERENCE}}
  </ItemGroup>
</Project>
